table, th, tr, td
{
    border:1px solid black;
    border-collapse:collapse;
    padding: 5px;
}


#btnPlaying, #btnAll {
    width: 140px;
    padding: 0.25em 0;
    text-align: center;
    margin: 2em 0 0 13px;
    font-size: 112.5%;
    cursor: pointer;
    color: #fff;
    background-color: #069;
    float: left;
}